{% extends 'security/security.html.twig' %}

{% block title %}Authentification
{% endblock %}

{% block content %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Authentification</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4"></h3>
						<form method="post" class="login-form">
							<div class="form-group">
								<input type="email" value="{{ last_username }}" placeholder="Email" name="_username" id="inputEmail" class="form-control" required autofocus>
							</div>
							<div class="form-group d-flex">
								<input type="password" placeholder="Mot de passe" name="_password" id="inputPassword" class="form-control" required>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Se souvenir de moi
										<input type="checkbox" checked="">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									    <div>
								</div>
                            </div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary rounded submit p-3 px-5" style="white-space: nowrap;">SE CONNECTER</button>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
